<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Simeon Velichkov" />
    <meta name="copyright" content="Simeon Velichkov" />
    <meta name="robots" content="follow,index" />
    <meta name="title" content="RubyGems visualization tool" />
    <meta name="keywords" content="ruby, gems, rubygems, vivagraph, visualization, graph" lang="en-us" />
    <meta name="description" content="RubyGems visualization tool" />

    <title>Rubinho</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="image_src" href="images/rubinho.png" />
    
    <link href="../css/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    
    <script src="/jslib/vivagraph.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jslib/hogan/template.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jslib/hogan/compiler.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/jslib/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jslib/typeahead.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="../js/file.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/websocket.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/graph.js" type="text/javascript" charset="utf-8"></script>

    <script src="../js/events.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="sidebar">
        <input type="text" name="gem" placeholder="search" value="{{gem}}" />
        <img src="../images/loading-search.gif" alt="" class="loading-search" />
        
        {{#inner}}
        <p class="graph-info">
            <label><input type="checkbox" class="toggle-names" value="" />names</label>
             | nodes <strong class="nodes-count">0</strong>
             | links <strong class="links-count">0</strong>
        </p>
        {{/inner}}

        <div id="gem"></div>
    </div>

    <footer>
        <p>© 2013 
            <a href="http://simov.github.io/" target="_blank">simov</a> | 
            <a href="https://github.com/simov/rubinho" target="_blank">rubinho</a> | 
            <a href="https://github.com/anvaka/VivaGraphJS" target="_blank">vivagraph</a>
        </p>
        {{#inner}}
        <img src="../images/loading-graph.gif" alt="" class="loading-graph" />
        {{/inner}}
    </footer>

    <div id="graph"></div>
</body>
</html>